body * {  
  text-align: left;  
  justify-content:left;  
}

/* This section for headers allow you to change how they are aligned. If you only want this to change H1 headers for example, then just remove all the other headers from below:   */
h1 {  
text-align: left; 
font-style: bold;
-webkit-text-fill-color: --color-neutral-600;
}


h2 {
  text-align: left; 
  font-style: bold;
  -webkit-background-origin: ;
}

flex author{
  text-align: left;
  font-style: italic;
  font-size: 10pt;

}
strong {
  font-weight: 700 !important;
  -webkit-text-fill-color: #dcd813;
}

.max-w-prose {  
  max-width: 1000px;  
  max-width: 100%;   
  justify-content: center;  
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  text-align: right; 
  font-size: 20pt;
  font-style: bold !important;
  padding: 10px;
}

html {
  font-size: 14pt;
}

#TableOfContents{
  font-size: 14pt;
}

.logo{
    width: 60%;
}

a.text-base{
    font-size: 20pt;
    font-weight: bolder;
    margin-left: -40px;
}

#menu-blur{
    padding-top: 73px;
    margin-top: -10px;
}

p.text-base{
    padding-right: 15px;
}

button.text-base{
  padding-right: 5px;
}