---
layout: framework
---
<link rel="stylesheet" href="./../css/pwntrain.css">
<h2 style="text-align: center;">Pwn Training</h2>

<a href="https://pranavkrish04.github.io/pwn-training/2021/05/09/simple-ret2shellcode-training1.html">
<div class="cardtrain">
    <div class="cardleft">
        <h3><span class="dot"></span> Ret 2 shellcode</h3>
        <p>Introduction: This is an initiative taken by team members of ARESx. In this series of pwn-training we will be looking into various types of attacks performed on binaries. This in the first part of the series.</p>
    </div>
    <div class="cardright">
        <img src="./../assets/images/pwntraining1/pwntrain20.png" alt="">
    </div>
</div>
</a>

<a href="https://pranavkrish04.github.io/pwn-training/2021/05/20/format-string-exploitation-training2.html">
<div class="cardtrain">
    <div class="cardleft">
        <h3><span class="dot"></span> Format String Exploitation</h3>
        <p>This is the 2nd challenge in the in the pwn training. In this training we will go through the format string exploitation technique. We are provided 2 challenges of the same vulnerability.</p>
    </div>
    <div class="cardright">
        <img src="./../assets/images/pwntraining2/pwntrain13.png" alt="">
    </div>
</div>
</a>

<a href="https://pranavkrish04.github.io/pwn-training/2021/05/24/return2libcpwntrain.html">
<div class="cardtrain">
    <div class="cardleft">
        <h3><span class="dot"></span> Return 2 Libc</h3>
        <p>In this blog we will be trying to leak a libc address and try to get a shell by calling system. Here we will look into 2 challenges with similar attacks but slight variations.</p>
    </div>
    <div class="cardright">
        <img src="./../assets/images/pwntraining3/pwntrain1.png" alt="">
    </div>
</div>
</a>

<a href="https://pranavkrish04.github.io/pwn-training/2022/01/20/checkpointpwn.html">
    <div class="cardtrain">
        <div class="cardleft">
            <h3><span class="dot"></span> Checkpoint</h3>
            <p>We are going a small tour of all the topics covered in the previous blog posts. This challenge is a practice challenge to make you solve format strings and get comfortable with canary.</p>
        </div>
        <div class="cardright">
            <img src="/images/checkpointaresx/ss1.png" alt="">
        </div>
    </div>
    </a>
